<!---->
<mat-list>
    <mat-card *ngFor="let cat of Cats">
        <mat-list-item>
            <h4 mat-line>{{cat.name}}</h4>
            <p mat-line>{{cat.color}}</p>
            <button mat-button color="primary" (click)="UpdateCat(cat)">
        Edit
        <mat-icon>edit</mat-icon>
      </button>
            <button mat-button color="warn" (click)="DeleteCat(cat)">
        Delete
        <mat-icon>delete</mat-icon>
      </button>
        </mat-list-item>
    </mat-card>
</mat-list>

<br>
<mat-divider></mat-divider>
<br>